<% layout('../layouts/home') -%>
<div class="container following-index">
	<div class="page-header">
		<h2>Following</h2>
	</div>
  
  <%var recentCheckins%>
	<% for(var i = 0; i < results.length; i++) { %>
    <div>
      <h3><%= results[i].user.name %></h3>      
    </div>
  
    <h4><em>Checkins</em></h4>
    <% for(var j= 0; j < results[i].checkins.length; j++) { %>
      <div class='following-checkin'>
        <div class='following-detail'>
          <strong><%= results[i].checkins[j].user.name %></strong> answered <strong><%= results[i].checkins[j].title %></strong> with the following responses <%= results[i].checkins[j].date %>:
        </div>		
        <% var score = 0; 
          for (var k = 0; k < results[i].checkins[j].answers.length; k++) { %>
            <div>
              <small>
                <strong>
                  <%= results[i].checkins[j].answers[k].title %>:
                </strong>
                <%= results[i].checkins[j].answers[k].text %>
              </small>
            </div>                          
          <% score += results[i].checkins[j].answers[k].score;
        } %>
        <div class="following-timestamp">        
          <small>
            Response score: <%= score %>
          </small>         
        </div>      
      </div>
    <% } %>
    <% if (results[i].checkins.length === 0) { %>
      <span><em>There are no survey responses from <%= results[i].user.name %>. </em></span>
    <% } %>
	<% } %>
  <% if (results.length == 0) { %>
    <span><em>There are no updates from those you are following.</em></span>
  <% } %>
</div>