<% layout('../layouts/default') -%>


<div class="page-header">
	<h2>Administration</h2>
</div>

<ul class="nav nav-tabs">
	<li class="active">
		<a href="#providers" data-toggle="tab">Providers</a>
	</li>
	<li>
		<a href="#patients" data-toggle="tab">Patients</a>
	</li>
	<li>
		<a href="#checkin-templates" data-toggle="tab">Templates</a>
	</li>
	<li>
		<a href="#checkin-surveys" data-toggle="tab">Surveys</a>
	</li>
    <li>
        <a href="#medication-list" data-toggle="tab">Medication List</a>
    </li>
    <li>
    		<a href="#history" data-toggle="tab">History</a>
    </li>
</ul>

<div class="tab-content">

	<div class="tab-pane active" id="providers">

		<div class="btn-toolbar toolbar-actions" role="toolbar">
			<a class="btn btn-default" href="/user/new">
				<i class="glyphicon glyphicon-plus"></i>
				New provider
			</a>
		</div>

		<div class="list-group large-list">

		<% for(var i = 0; i < providers.length; i++) { %>

			<div class="list-group-item">

				<div class="row">
					<div class="col-xs-5">
						<a href="/user/<%= providers[i].id %>">
							<%= providers[i].name %>
						</a>
					</div>
					<div class="col-xs-7 text-right">
						<form action="/user/delete" method="post">
							<a class="btn btn-primary" href="/user/<%= providers[i].id %>/edit"> Edit </a>

							<input type="hidden" name="_csrf" value="<%= csrf_token %>">
							<input type="hidden" name="userId" id="userId" value="<%= providers[i].id %>">
							<button type="submit" class="btn btn-danger">
								Delete
							</button>
						</form>
					</div>
				</div>

			</div>

		<% } %>

		</div>

		<% if(!providers.length) { %>
			<h4 class="text-muted text-center">There are no providers. </h4>
		<% } %>

	</div>

	<div class="tab-pane" id="patients">

		<div class="btn-toolbar toolbar-actions" role="toolbar">
			<a class="btn btn-default" href="/user/new">
				<i class="glyphicon glyphicon-plus"></i>
				New patient
			</a>
		</div>


		<div class="list-group large-list">

		<% for(var i = 0; i < patients.length; i++) { %>
			<div class="list-group-item">
				<div class="row">
					<div class="col-xs-5">
						<a href="/user/<%= patients[i].id %>">
							<%= patients[i].name %>
						</a>
					</div>
					<div class="col-xs-7 text-right">
                        <form action="/user/delete" method="post">
                            <a class="btn btn-primary" href="/user/<%= patients[i].id %>/edit"> Edit </a>
                            <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                            <input type="hidden" name="userId" id="userId" value="<%= patients[i].id %>">
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
					</div>
				</div>
			</div>
		<% } %>

		</div>

		<% if(!patients.length) { %>
			<h4 class="text-muted text-center">There are no patients. </h4>
		<% } %>

	</div>

	<div class="tab-pane" id="checkin-templates">

		<div class="btn-toolbar toolbar-actions" role="toolbar">
			<a class="btn btn-default" href="/checkintemplate/new">
				<i class="glyphicon glyphicon-plus"></i>
				New checkin template
			</a>
		</div>

		<div class="list-group large-list">

		<% for(var i = 0; i < checkinTemplates.length; i++) { %>

			<div class="list-group-item">

				<div class="row">
					<div class="col-xs-5">
						<a href="/checkintemplate/<%= checkinTemplates[i].id %>">
							<%= checkinTemplates[i].title %>
						</a>
					</div>
					<div class="col-xs-7 text-right">
						<form action="/checkintemplate/remove" method="post" class="form-inline">
							<% if(checkinTemplates[i].type != 'text') { %>
								<a class="btn btn-primary" href="/checkintemplate/link/<%= checkinTemplates[i].id %>">Link</a>
							<% } %>
							<a class="btn btn-primary" href="/checkintemplate/<%= checkinTemplates[i].id %>/edit">Edit</a>

							<input type="hidden" name="_csrf" value="<%= csrf_token %>">
							<input type="hidden" name="id" id="id" value="<%= checkinTemplates[i].id %>">

							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</div>
				</div>

			</div>

		<% } %>

		</div>

		<% if(!checkinTemplates.length) { %>
			<h4 class="text-muted text-center">There are no checkin templates. </h4>
		<% } %>

	</div>

	<div class="tab-pane" id="checkin-schedules">

		<div class="btn-toolbar toolbar-actions" role="toolbar">
			<a class="btn btn-default" href="/schedule/new">
				<i class="glyphicon glyphicon-plus"></i>
				New checkin schedule
			</a>
		</div>

		<div class="list-group large-list">

		<% schedules.forEach(function(schedule) { %>

			<div class="list-group-item">

				<div class="row">
					<a href="/schedule/<%= schedule.id %>">

						<% if(schedule.expires && schedule.expire_date < new Date()) { %>
							<p class="col-xs-12">
								<span class="label label-warning">
									<i class="glyphicon glyphicon-exclamation-sign"></i>
									Expired
								</span>
							</p>
						<% } %>

						<div class="col-xs-3">
							<p>
								<strong>User:</strong>
								<%= patientsObject[schedule.user_id].name %>
							</p>
						</div>

						<div class="col-xs-3">
							<p>
								<strong>Template:</strong>
							  <%= templatesObject[schedule.template_id].title %>
							</p>
						</div>

						<div class="col-xs-2">
							<% if(schedule.repeat_interval) { %>
								<p>
									<strong>Repeat: </strong>
									<%= (schedule.repeat_interval === 1) ? 'Daily' : '' %>
									<%= (schedule.repeat_interval === 7) ? 'Weekly' : '' %>
								</p>
							<% } %>
						</div>
					</a>
					<div class="col-sm-4 col-xs-12 text-right">
						<form action="/schedule/remove" method="post" class="form-inline">
							<a class="btn btn-primary" href="/schedule/<%= schedule.id %>/edit">Edit</a>

							<input type="hidden" name="_csrf" value="<%= csrf_token %>">
							<input type="hidden" name="id" id="id" value="<%= schedule.id %>">

							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</div>
				</div>

			</div>
		<% }) %>

		</div>

		<% if(!schedules.length) { %>
			<h4 class="text-muted text-center">There are check-in schedules set-up. </h4>
		<% } %>

	</div>

	<div class="tab-pane" id="checkin-surveys">
		<div class="btn-toolbar toolbar-actions" role="toolbar">
			<a class="btn btn-default" href="/surveys/create">
				<i class="glyphicon glyphicon-plus"></i>
				New Survey
			</a>
		</div>

		<div class="list-group large-list">
			<% for(var i = 0; i < surveys.length; i++) { %>
				<div class="list-group-item">
					<div class="row">
						<div class="col-xs-5">
							<a href="/surveys/<%= surveys[i].id %>">
								<%= surveys[i].title %>
							</a>
						</div>
						<div class="col-xs-7 text-right">
							<form action="/surveys/delete" method="post">
								<input type="hidden" name="_csrf" value="<%= csrf_token %>">
								<input type="hidden" name="id" value="<%= surveys[i].id %>">
								<button type="submit" class="btn btn-danger">
									Delete
								</button>
							</form>
						</div>
					</div>
				</div>
			<% } %>
		</div>

		<% if(!surveys.length) { %>
			<h4 class="text-muted text-center">There are no surveys. </h4>
		<% } %>
	</div>

    <div class="tab-pane" id="medication-list">

        <div class="btn-toolbar toolbar-actions" role="toolbar">
            <a class="btn btn-default" href="/medications/new">
                <i class="glyphicon glyphicon-plus"></i>
                New medication
            </a>
        </div>

        <div class="list-group large-list">
            <% if(medication.length) { %>
            <table class="table">
                <tr>
                    <th>Generic Name</th>
                    <th>Trade Name</th>
                    <th>Actions</th>
                </tr>

                <% for(var i = 0; i < medication.length; i++) { %>
                    <tr>
                        <td><%= medication[i].genericName %></td>
                        <td><%= medication[i].tradeName %></td>
                        <td>
                            <form action="/medications/delete" method="post">
                                <a class="btn btn-primary" href="/medications/<%= medication[i].id %>/edit"> Edit </a>
                                <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                                <input type="hidden" name="medicationId" value="<%= medication[i].id %>">
                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
            <% } %>
        </div>

        <% if(!medication.length) { %>
        <h4 class="text-muted text-center">There are no medications. </h4>
        <% } %>

    </div>
		<div class="tab-pane" id="history">
			<% if(typeof history === "undefined" || !history.length) { %>
				<h4 class="text-muted text-center">No history found.</h4>
			<% } else { %>
				<table class="table">
					<tr>
						<th>Time</th>
						<th>User</th>
						<th>Survey</th>
					</tr>
					<% for (var i = 0; i<history.length; i++) { %>
						<tr>
							<td><%= history[i].time %></td>
							<td><%= history[i].user %></td>
							<td><a href="checkins/<%= history[i].checkinId %>"><%= history[i].survey %></a></td>
						</tr>
					<% } %>
				</table>
			<% } %>
		</div>
</div>



