<% layout('../layouts/default') -%>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="page-header">
				<h2>Administration</h2>
			</div>

			<div class="row stats">
				<div class="col-xs-6">
					<h3>Providers</h3>
				</div>
				<div class="col-xs-6 text-right">
					<a class="btn btn-default" href="/user/new">
						<i class="glyphicon glyphicon-plus"></i>
						New provider
					</a>
				</div>
			</div>

			<% for(var i = 0; i < providers.length; i++) { %>
				<div class="row stats">
					<div class="col-xs-6">
						<a href="/user/<%= providers[i].id %>">
							<%= providers[i].name %>
						</a>
					</div>
					<div class="col-xs-6 text-right">
						<form action="/user/delete" method="post">
							<a class="btn btn-primary" href="/user/<%= providers[i].id %>/edit"> Edit </a>

							<input type="hidden" name="_csrf" value="<%= csrf_token %>">
							<input type="hidden" name="userId" id="userId" value="<%= providers[i].id %>">
							<button type="submit" class="btn btn-danger">
								Delete
							</button>
						</form>
					</div>
				</div>
			<% } %>

			<% if(!providers.length) { %>
				<h4 class="text-muted text-center">There are no providers. </h4>
			<% } %>

			<div class="row stats">
				<div class="col-xs-6">
					<h3>Patients</h3>
				</div>
				<div class="col-xs-6 text-right">
					<a class="btn btn-default" href="/user/new">
						<i class="glyphicon glyphicon-plus"></i>
						New patient
					</a>
				</div>
			</div>

			<% for(var i = 0; i < patients.length; i++) { %>
				<div class="row stats">
					<div class="col-xs-6">
						<a href="/user/<%= patients[i].id %>">
							<%= patients[i].name %>
						</a>
					</div>
					<div class="col-xs-6 text-right">
						<a class="btn btn-primary" href="/user/<%= patients[i].id %>/edit"> Edit </a>
						<a class="btn btn-danger" href="/user/<%= patients[i].id %>/delete"> Delete </a>
					</div>
				</div>
			<% } %>

			<% if(!patients.length) { %>
				<h4 class="text-muted text-center">There are no patients. </h4>
			<% } %>



		</div>
	</div>
</div>
