<% layout('../layouts/default') -%>

<div class="container js-checkinselector-container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="page-header">
				<button type="button" class="btn btn-default pull-right js-checkinselector-btn" rel="popover" data-placement="bottom" data-tpl=".js-checkinselector-template">New check-in</button>
				<h2>Salt Reducer Checkins</h2>
			</div>

			<% if(c.length) { %>

				<table class="table">
					<thead>
						<tr>
							<td class="col-md-9">
								<strong>Checkin</strong>
							</td>
							<td>
								<strong>Update </strong>
							</td>
						</tr>
					</thead>
					<tbody>
					<% for (var i = 0; i < c.length; i++) { %>
						<tr>
							<td>
								<a href="/checkin/<%=c[i].id%>"><%=: c[i].timestamp | fromNow %>
							</a></td>
							<td>
								<a class="btn btn-primary" href="/checkin/<%=c[i].id%>/edit"> Edit </a>
								<a class="btn btn-danger" href="/checkin/<%=c[i].id%>/delete"> Delete </a>
							</td>
						</tr>
					<% } %>
					</tbody>
				</table>

			<% } else { %>

				<h4 class="text-center muted">No checkins available</h4>

			<% } %>

		</div>
	</div>

	<div class="js-template js-checkinselector-template">
		<form action="/provider/user/add" method="post">
			<input type="hidden" name="_csrf" value="<%= csrf_token %>">
			<input type="hidden" name="providerId" id="providerId" value="<%= user.id %>">

			<div class="form-group">
				<label for="templateId">Select checkin type</label>
				<select class="js-select2" id="templateId" name="templateId">
					<% for(var i = 0; i < checkinTemplates.length; i++) { %>
						<option value="<%= checkinTemplates[i].id %>">
							<%= checkinTemplates[i].title %>
						</option>
					<% } %>
				</select>
			</div>

			<button type="submit" class="btn btn-primary btn-block">
				Check-in
			</button>
		</form>
	</div>
</div>