<% layout('../layouts/default') -%>
  
<div class="page-header">
  <% if(viewer && viewer.permissions.admin) { %>
    <div class="btn-group pull-right">
      <a href="/admin" class="btn btn-default">Back to admin</a>
    </div>
  <% } %>
<h2>User details</h2>
</div>

<h3>
	<%= profile.username %>
	<small>
		<% if(profile.permissions.provider) { %>
			Provider
		<% } else {%>
			Patient
		<% } %>
	</small>
</h3>

<ul class="list-unstyled vcard">
	<li>
		<span class="fn n">
			<strong>Full name: </strong>
			<span class="given-name">
				<%= profile.name %>
			</span>
		</span>
	</li>
	<li>
		<strong>Email: </strong>
		<a class="email" href="mailto:<%= profile.email %>"><%= profile.email %></a>
	</li>
</ul>

<h3>
Surveys
</h3>

<div class="list-group large-list">
<%if(viewer.patients && (viewer.patients.map(function(e) { return e.id; }).indexOf(profile.id) > -1)) {
	  for (var i = 0; i < surveyData.length; i++) {
      // Print survey links 
 %>
    <div class="list-group-item">
      <div class="row">
        <div class="col-xs-8">
          <a href="/surveys/<%= surveyData[i]._id %>">
            <h3>
              <%= surveyData[i].title %>
            </h3>
          </a>
          <%
          for (var j = 0; j < surveyData[i].checkinTemplates.length; j++) {
          %>
            <div>
              <a href="/checkintemplate/<%= surveyData[i].checkinTemplates[j]._id %>">
                <h4>
                  <%= surveyData[i].checkinTemplates[j].title %>  
                </h4>
              </a>
            </div>
          <%
          }  
          %>
                                                                 
        </div>
      </div>
    </div>
 <% }
                                                                                                          
  } else { %>
	  No surveys available
<%} %>
  </div>


<% if((user.permissions.admin || user.permissions.provider) && profile.permissions.provider) { %>

	<div class="row stats">
		<div class="col-xs-6">
			<h3>Patients</h3>
		</div>
		<div class="col-xs-6 text-right">
			<a class="btn btn-default" rel="popover" data-placement="top" data-html="true" data-content="">
				<i class="glyphicon glyphicon-plus"></i>
				Add patient
			</a>
		</div>
	</div>

	<% for(var i = 0; i < providerPatients.length; i++) { %>
		<div class="row stats">
			<div class="col-xs-6">
				<a href="/user/<%= providerPatients[i].id %>">
					<%= providerPatients[i].name %>
				</a>
			</div>
			<div class="col-xs-6 text-right">
				<form action="/provider/user/remove" method="post">
					<input type="hidden" name="_csrf" value="<%= csrf_token %>">
					<input type="hidden" name="providerId" id="providerId" value="<%= profile.id %>">
					<input type="hidden" name="userId" id="userId" value="<%= providerPatients[i].id %>">

					<button type="submit" class="btn btn-danger">Remove</button>
				</form>
			</div>
		</div>
	<% } %>

	<% if(!providerPatients.length) { %>
		<h4 class="text-muted text-center">Provider has no patients. </h4>
	<% } %>

	<div class="js-template js-usersearch-template">
		<form action="/provider/user/add" method="post">
			<input type="hidden" name="_csrf" value="<%= csrf_token %>">
			<input type="hidden" name="providerId" id="providerId" value="<%= profile.id %>">

			<div class="form-group">
				<label for="userId">Search for users</label>
				<select class="js-usersearch usersearch-field" id="userId" name="userId">
					<% for(var i = 0; i < allPatients.length; i++) { %>
						<option value="<%= allPatients[i].id %>"><%= allPatients[i].name %></option>
					<% } %>
				</select>
			</div>

			<button type="submit" class="btn btn-primary btn-block">
				Add
			</button>
		</form>
	</div>

<% } %>
