<% layout('../layouts/default') -%>

<div class="page-header">
	<form action="/schedule/remove" method="post" class="btn-group pull-right">
		<a href="/schedule/<%= schedule.id %>/edit" class="btn btn-default">Edit</a>

		<input type="hidden" name="_csrf" value="<%= csrf_token %>">
		<input type="hidden" name="id" id="id" value="<%= schedule.id %>">

		<button type="submit" class="btn btn-danger">Remove</button>
	</form>

	<h3>
		<small>Check-in schedule for</small>
		<%= forUser.name %>
	</h3>
</div>

<h4 class="text-muted">Checkin template:</h4>
<p>
	<%= template.title %>
</p>

<h4 class="text-muted">Due date:</h4>
<p title="<%= schedule.due_date %>">
	<%=: schedule.due_date | fromNow %>
</p>

<% if(schedule.repeat_interval) { %>
	<h4 class="text-muted">Repeat:</h4>
	<p>
		Every
		<%= (schedule.repeat_interval === 1) ? 'day' : '' %>
		<%= (schedule.repeat_interval === 7) ? 'week' : '' %>
	</p>
<% }%>

