<% layout('../layouts/default') -%>

<div class="page-header">
  <% if (viewer && (viewer.permissions.admin || viewer.permissions.provider)) { %>	
    <form action="/checkintemplate/remove" method="post" class="btn-group pull-right">
        <a href="/admin" class="btn btn-default">Back to Admin</a>  
      <a href="/checkintemplate/<%= c.id %>/edit" class="btn btn-default">Edit</a>
      <input type="hidden" name="_csrf" value="<%= csrf_token %>">
      <input type="hidden" name="id" id="id" value="<%= c.id %>">
      <button type="submit" class="btn btn-danger">Remove</button>
    </form>
  <% } %>
	<h3><%= c.title %></h3>
</div>

<h4 class="text-muted">Question:</h4>
<div class="question"><%= c.question %></div>

<%if(c.questions){%>
    <% c.questions.forEach(function(question){%>
      <p><%- question.text %></p>
    <%})%>
<%}%>

<% if (viewer && (viewer.permissions.admin || viewer.permissions.provider)) { %>	
  <h4 class="text-muted">Score:</h4>
  <p><%= c.score %></p>
<% } %>

<h4 class="text-muted">Tips:</h4>
<p><%= c.tips || 'No tips for this checkin template' %></p>

<% if(c.type.indexOf('choice') !== -1 && c.answers && c.answers.length) { %>
	<h4 class="text-muted">Possible answers:</h4>
	<ul>
		<% for(var i=0; i < c.answers.length; i++) { %>
			<li>
        <%= c.answers[i].text %>
        <ul>
          <% if(c.schedules && c.schedules.length > i) { %>
          <li>
            <%= c.schedules[i].due_date %>
          </li>
          <li>
            Repeat every <%= c.schedules[i].repeat_interval %> day(s)
          </li>
          <li>
            Expires: <%= c.schedules[i].expires %>
          </li>
          <% } %>
        </ul>
			</li>
		<% } %>
	</ul>
<% }%>

<% if (viewer && checkins && (!viewer.permissions.admin && !viewer.permissions.provider)) { 
  var checkinsExist = false; %>
  <h4 class="text-muted">Response history:</h4>
  <% checkins.forEach(function(checkin){
    if (String(checkin.user_id) === String(viewer.id) && checkin.answers[0]) { 
      checkinsExist = true; %>
      <div class="list-group large-list">
        <div class="list-group-item">
          <div class = "row">
            <div class = "col-xs-12">              
              <%= checkin.answers[0].text %>
              <strong title = "<%= checkin.answers[0].timestamp%>">
                <%=: checkin.answers[0].timestamp | fromNow %>
              </strong>
            </div>
          </div>
        </div>
      </div>
    <% }
  });
  if (!checkinsExist) { %>
    No checkins have been made.
  <% } 
} %>