<% layout('../layouts/default') -%>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<h2>
				<% if(c.id) { %>
					Edit checkin template
				<% } else { %>
					New checkin template
				<% } %>
			</h2>

			<% if(typeof errors !== 'undefined') { %>
				<div class="alert alert-danger">
					<% for(error in errors) { %>
						<p>
							<%= errors[error].type %>
						</p>
					<% } %>
				</div>
			<% } %>

			<form role="form" action="/checkintemplate" method="post">
				<input type="hidden" name="admin" value="true">
				<input type="hidden" name="_csrf" value="<%= csrf_token %>">
				<input type="hidden" name="id" value="<%= c.id || '' %>">

				<div class="form-group">
					<label for="type">Checkin type</label>
					<select class="form-control" name="type" id="type">
						<option value="longtext" <%= c.type === 'longtext' && 'selected' %>>Long text</option>
						<option value="shorttext" <%= c.type === 'shorttext' && 'selected' %>>Short text</option>
						<option value="singlechoice" <%= c.type === 'singlechoice' && 'selected' %>>Single choice</option>
						<option value="multiplechoice" <%= c.type === 'multiplechoice' && 'selected' %>>Multiple choice</option>
					</select>
				</div>

				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" class="form-control" id="title" name="title" value="<%= c.title || ''%>">
				</div>

				<div class="form-group">
					<label for="question">Question</label>
					<textarea class="form-control" id="question" name="question"><%= c.question || '' %></textarea>
				</div>


				<button type="submit" class="btn btn-primary btn-lg js-btn-submit">
					<% if(c.id) { %>
						Update checkin template
					<% } else { %>
						Create new checkin template
					<% } %>
				</button>
			</form>

		</div>
  </div>
</div>
