<% layout('../layouts/settings') -%>

<div class="page-header">
	<h3>Your providers</h3>
</div>

<% if(typeof errors !== 'undefined') { %>
	<div class="alert alert-danger">
		<% for(error in errors) { %>

			<p>
				<%= errors[error].type %>
			</p>

		<% } %>
	</div>
<% } %>

<% if(providers.length) { %>

	<ul class="list-group">
		<% for(var i = 0; i < providers.length; i++) { %>
			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-8">
						<%= providers[i].name %>
					</div>

					<div class="col-xs-4">

						<% if(approved[i] === true) { %>

							<form action="/provider/revoke" method="post">
								<input type="hidden" name="_csrf" value="<%= csrf_token %>">
								<input type="hidden" name="providerId"  value="<%= providers[i].id %>">

								<button type="submit" class="btn btn-danger">Revoke</button>
							</form>

						<% } else { %>

							<form action="/provider/approve" method="post">
								<input type="hidden" name="_csrf" value="<%= csrf_token %>">
								<input type="hidden" name="providerId"  value="<%= providers[i].id %>">

								<button type="submit" class="btn btn-success">Approve</button>
							</form>

						<% } %>

					</div>
				</div>
			</li>
		<% } %>
	</ul>

<% } else { %>

	<h4 class="text-muted text-center">You have no providers. </h4>

<% } %>
