<% layout('../layouts/default') -%>

<div class="page-header">
	<h2>
		<% if(checkin.id) { %>
			Edit checkin
		<% } else { %>
			New checkin
		<% } %>
	</h2>
</div>

<form role="form" action="/checkin" method="post">
	<input type="hidden" name="_csrf" value="<%= csrf_token %>">
	<input type="hidden" name="id" value="<%= checkin.id || '' %>">
	<input type="hidden" name="type" value="<%= template.type %>">
	<input type="hidden" name="question" value="<%= template.question %>">

	<h3>
		<%= template.question %>
	</h3>

	<% if(template.type === 'multiplechoice' || template.type === 'singlechoice') { %>
		<% if(template.answers && template.answers.length) { %>
			<% for(var i=0; i < template.answers.length; i++) { %>
				<div class="form-group">
					<div class="<%= (template.type === 'multiplechoice') ? 'checkbox' : '' %><%= (template.type === 'singlechoice') ? 'radio' : '' %>">
						<label>
							<input type="<%= (template.type === 'multiplechoice') ? 'checkbox' : '' %><%= (template.type === 'singlechoice') ? 'radio' : '' %>" name="answers[]" value="<%= template.answers[i].text %>">
							<%= template.answers[i].text %>
						</label>
					</div>
				</div>
			<% } %>
		<% }%>
	<% }%>

	<% if(template.type === 'text') { %>
		<div class="form-group">
			<label for="answer">Answer</label>
			<textarea class="form-control" id="answers[]" name="answers[]" required></textarea>
		</div>
	<% } %>

	<button type="submit" class="btn btn-primary btn-lg js-btn-submit">
		<% if(checkin.id) { %>
			Update checkin
		<% } else { %>
			Make new checkin
		<% } %>
	</button>
</form>
