<% layout('../layouts/default') -%>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="page-header">
				<div class="btn-group pull-right">
					<a href="/checkin/<%= c.id %>/edit" class="btn btn-default">Edit checkin</a>
					<a href="/checkin/<%= c.id %>/delete" class="btn btn-danger">Delete checkin</a>
				</div>

				<h2>View Checkin</h2>
			</div>

			<h4 class="muted">How you felt <abbr title="<%= Date(c.timestamp) %>"><%=: c.timestamp | fromNow %></abbr></h4>

			<p>
				<%= c.data %>
			</p>

		</div>
	</div>
</div>

