<% layout('../layouts/default') %>


<script>
    var survey = {},
        dropdownDataSource = [],
        firstIterationDiv = {},
        firstIterationDivClone = {},
        nrOfIterations = 1,
        nrOfTemplates = 0,
        currentIndex = 0;


    setTimeout(function(){
        survey = <%- JSON.stringify(survey) %>;
        <%if(typeof dropdownDataSource != 'undefined'){%>
            dropdownDataSource = <%- JSON.stringify(dropdownDataSource) %>;
            firstIterationDiv = $('.iteration')[0];
            firstIterationDivClone = $(firstIterationDiv).clone();

            nrOfTemplates = $(firstIterationDiv).find(".template").length;
            currentIndex = nrOfTemplates;

            setupDropdownBindings();
        <%}%>

    }, 1000);


    var setupDropdownBindings = function(){

        $('.typeahead').typeahead('destroy');

        //setup dropdowns for dropdown text type of inputs
        $('.typeahead').typeahead(
                {
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    source: substringMatcher(dropdownDataSource)
                }
        );
    }

    var addAnswers = function(){

        if(nrOfIterations <survey.maximumIterations){

            var newIteration = $(firstIterationDivClone).clone();
            var templates = $(newIteration).find(".template");

            // foreach teplate, change data[i] to a new index
            for(var i = 0; i < nrOfTemplates; i ++){

                $(templates[i]).find("[name]").each(function(index){
                    var newVal = this.name.replace(i, currentIndex);
                    this.name = newVal;
                });

                currentIndex++;
            }

            var lastIterationDiv = $('.iteration')[$('.iteration').length - 1];
            $(newIteration).insertAfter(lastIterationDiv);
            nrOfIterations++;

            if(nrOfIterations == survey.maximumIterations){
                $('#addAnswersBtn').prop('disabled', true);
            }
            setupDropdownBindings();
        }
        else{
        }
    }

    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substrRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
                    // the typeahead jQuery plugin expects suggestions to a
                    // JavaScript object, refer to typeahead docs for more info
                    matches.push({ value: str });
                }
            });

            cb(matches);
        };
    };

</script>

<div class="checkin-edit">
	<div class="page-header">
		<h3>
			<small>
				<% if(checkin.id) { %>
					Edit checkin
				<% } else { %>
					New checkin
				<% } %>
			</small>
		</h3>
	</div>
	<form role="form" action="/checkin" method="post">
		<input type="hidden" name="_csrf" value="<%= csrf_token %>">
		<input type="hidden" name="id" value="<%= checkin.id || '' %>">
		<input type="hidden" name="surveyID" value="<%= survey._id || '' %>">
        <% if(typeof assignedSurvey !== 'undefined') { %>
        <input type="hidden" name="assignedSurveyId" value="<%= assignedSurvey._id || '' %>">
        <% } %>

        <div id="iteration-0" class="iteration">
            <div class="panel panel-default">
                <div class="panel-body">
                <% for(var i = 0; i < templates.length; i++) { %>

                    <div id="template-<%=i%>" class="template">
                        <h4><%= templates[i].question %></h4>

                        <input type="hidden" name="data[<%= i %>][id]" value="<%= templates[i].id %>">
                        <label for="answer" class="text-muted">
                            Answer(s)
                        </label>

                        <div class="row">
                            <div class="col-sm-5 col-sm-push-7">
                                <% if(templates[i].tips) { %>
                                <div class="alert alert-info">
                                    <h4 class="small-title">
                                        <i class="glyphicon glyphicon-question-sign"></i> Tips:
                                    </h4>

                                    <p>
                                        <%= templates[i].tips %>
                                    </p>
                                </div>
                                <% } %>
                            </div>
                            <div class="col-sm-7 col-sm-pull-5">
                                <% if(templates[i].type.indexOf('choice') !== -1) { %>
                                    <% if(templates[i].answers && templates[i].answers.length) { %>
                                        <% for(var j = 0; j < templates[i].answers.length; j++) { %>
                                <div class="form-group">
                                    <div class="<%= (templates[i].type === 'multiplechoice') ? 'checkbox' : '' %><%= (templates[i].type === 'singlechoice') ? 'radio' : '' %>">
                                        <label>
                                            <input type="<%= (templates[i].type === 'multiplechoice') ? 'checkbox' : '' %><%= (templates[i].type === 'singlechoice') ? 'radio' : '' %>" name="data[<%= i %>][answers][]" value="<%= templates[i].answers[j].text %>">
                                            <%= templates[i].answers[j].text %>
                                        </label>
                                    </div>
                                </div>
                                        <% } %>
                                    <% }%>
                                <% }%>
                                <% if(templates[i].type === 'text') { %>
                                <div class="form-group">
                                    <textarea class="form-control"  name="data[<%= i %>][answers][]" required></textarea>
                                </div>
                                <% } %>

                                <% if(templates[i].type === 'dropdownText') { %>
                                <div class="form-group">
                                    <input type="text" class="form-control typeahead"  name="data[<%= i %>][answers][]" required />
                                </div>
                                <% } %>

                                <% if(templates[i].type === 'medicationCheckin') { %>
                                    <%templates[i].questions.forEach(function(question, index){%>
                                    <%-question.text%>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  name="data[<%= i %>][answers][]" required />
                                    </div>
                                    <% }) %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
                </div>
            </div>

        </div>

        <% if(survey.isWizardSurvey){%>
        <p><button type="button" id="addAnswersBtn" onclick="addAnswers()" class="btn btn-default btn-lg"> <i class="glyphicon glyphicon-plus"></i>Add another set of answers</button></p>
        <%}%>

        <button type="submit" class="btn btn-primary btn-lg js-btn-submit">
			<% if(checkin.id) { %>
				Update checkin
			<% } else { %>
				Submit
			<% } %>
		</button>
	</form>

</div>
