<% layout('../layouts/default') -%>

<script>
    var dropdownDataSource = [];

    setTimeout(function(){
        dropdownDataSource = <%- JSON.stringify(dropdownDataSource) %>;
        setupDropdownBindings();

    }, 1000);

    var setupDropdownBindings = function(){
        $('.typeahead').typeahead('destroy');
        //setup dropdowns for dropdown text type of inputs
        $('.typeahead').typeahead(
                {
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    source: substringMatcher(dropdownDataSource)
                }
        );
    }

    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substrRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
                    // the typeahead jQuery plugin expects suggestions to a
                    // JavaScript object, refer to typeahead docs for more info
                    matches.push({ value: str });
                }
            });

            cb(matches);
        };
    };

</script>

<div class="page-header">
	<h3>
		<small>Checkin from</small>
		<abbr title="<%= Date(c.timestamp) %>"><%=: c.timestamp | fromNow %></abbr>
	</h3>
</div>

<h3>
	<%= c.question %>
</h3>

<small class="text-muted">You answered</small>
<% if(choice) { %>
	<ul>
<% } %>
	<% for(var i=0; i < c.answers.length; i++) { %>
		<% if(choice) { %>
			<li>
		<% } %>

			<p class="muted">
				<%= c.answers[i].text %>
			</p>

		<% if(choice) { %>
			</li>
		<% } %>
	<% } %>
<% if(choice) { %>
	</ul>
<% } %>

<form role="form" action="/checkin/update" method="post">
	<input type="hidden" name="_csrf" value="<%= csrf_token %>">
	<input type="hidden" name="id" value="<%= c.id %>">
	<label for="answer" class="text-muted">
		New answer(s)
	</label>

	<div class="row">
		<div class="col-sm-5 col-sm-push-7">
			<% if(template.tips) { %>
				<div class="alert alert-info">
					<h4 class="small-title">
						<i class="glyphicon glyphicon-question-sign"></i> Tips:
					</h4>
					<p>
						<%= template.tips %>
					</p>
				</div>
			<% } %>
		</div>
		<div class="col-sm-7 col-sm-pull-5">
			<% if(choice) { %>
				<% if(template.answers && template.answers.length) { %>
					<% for(var j = 0; j < template.answers.length; j++) { %>
						<div class="form-group">
							<div class="<%= (template.type === 'multiplechoice') ? 'checkbox' : '' %><%= (template.type === 'singlechoice') ? 'radio' : '' %>">
								<label>
									<input type="<%= (template.type === 'multiplechoice') ? 'checkbox' : '' %><%= (template.type === 'singlechoice') ? 'radio' : '' %>" name="answers[]" value="<%= template.answers[j].text %>">
									<%= template.answers[j].text %>
								</label>
							</div>
						</div>
					<% } %>
				<% }%>
			<% }%>
			<% if(template.type === 'text') { %>
				<div class="form-group">
					<textarea class="form-control"  name="answers[]" required></textarea>
				</div>
			<% } %>
            <% if(template.type === 'dropdownText') { %>
                <div class="form-group">
                    <input type="text" class="form-control typeahead"  name="answers[]" required />
                </div>
            <% } %>
		</div>
	</div>

	<button type="submit" class="btn btn-primary btn-lg js-btn-submit">
		Update checkin
	</button>
</form>