<% layout('../layouts/default') -%>

<div class="js-checkinselector-container">
	<div class="page-header">
		<h2>
			Questions
		</h2>
	</div>
	<% if(checkins.length) { %>
		<div class="list-group large-list">
			<% checkins.forEach(function(checkin) { %>
				<div class="list-group-item">
					<div class="row">
						<div class="col-xs-8">
							<a href="/checkin/<%= checkin.id %>">
								<strong title="<%= checkin.timestamp %>">
									<%=: checkin.timestamp | fromNow %>
								</strong>
								<h3 data-toggle="tooltip" data-placement="bottom" title="<%= checkin.tips || '' %>">
									<%= checkin.question %>
                                    <%if(typeof questions != 'undefined'){%>
                                        <% questions.forEach(function(question){%>
                                            <p><%- question.text %></p>
                                        <%})%>
                                    <%}%>
								</h3>
							</a>
						</div>
						<form action="/checkin/edit" method="post" class="text-right col-xs-2">
							<input type="hidden" name="_csrf" value="<%= csrf_token %>">
							<input type="hidden" name="id" id="id" value="<%= checkin.id %>">

							<button type="submit" class="btn btn-info">Change</button>
						</form>
						<form action="/checkin/remove" method="post" class="text-right col-xs-2">
							<input type="hidden" name="_csrf" value="<%= csrf_token %>">
							<input type="hidden" name="id" id="id" value="<%= checkin.id %>">

							<button type="submit" class="btn btn-danger">Remove</button>
						</form>
					</div>
				</div>
			<% }) %>
		</div>
	<% } else { %>
		<h4 class="text-center text-muted">You haven't made any check-ins for this survey</h4>
	<% } %>
</div>
