<% layout('../layouts/default') -%>

<div class="js-checkinselector-container">

	<div class="page-header">
		<h2>
			Check-ins
		</h2>

		<div class="header-actions">
			<button type="button" class="btn btn-default js-checkinselector-btn" rel="popover" data-placement="bottom" data-tpl=".js-checkinselector-template">New check-in</button>
		</div>
	</div>

	<% if(c.length) { %>

		<%
			var scoreClass = 'warning';

			if(totalScore > 10) {
				scoreClass = 'info';
			}

			if(totalScore > 50) {
				scoreClass = 'success';
			}
		%>

		<div class="alert alert-dismissable alert-<%= scoreClass %>">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

			<p>
				<strong>Your current check-in score is <%= totalScore %>. </strong>
			</p>

			<% if(scoreClass === 'warning') { %>
				Improve it by checking-in more often.
			<% } %>

			<% if(scoreClass === 'info') { %>
				Keep up the good work!
			<% } %>

			<% if(scoreClass === 'success') { %>
				Great work!
			<% } %>
		</div>

		<div class="list-group checkin-list">

		<% for (var i = 0; i < c.length; i++) { %>

			<div class="list-group-item">

				<div class="row">

					<div class="col-xs-8">
						<a href="/checkin/<%=c[i].id%>">

							<small title="<%= c[i].timestamp %>">
								<%=: c[i].timestamp | fromNow %>
							</small>

							<h3 data-toggle="tooltip" data-placement="bottom" title="<%= c[i].tips || '' %>">
								<%= c[i].question %>
							</h3>
						</a>
					</div>

					<form action="/checkin/remove" method="post" class="text-right col-xs-4">
						<input type="hidden" name="_csrf" value="<%= csrf_token %>">
						<input type="hidden" name="id" id="id" value="<%=c[i].id%>">

						<button type="submit" class="btn btn-danger">Remove</button>
					</form>

				</div>

			</div>

		<% } %>

		</div>

	<% } else { %>

		<h4 class="text-center text-muted">You haven't made any check-ins</h4>

	<% } %>

	<div class="js-template js-checkinselector-template">
		<form action="/checkin/new" method="post">
			<input type="hidden" name="_csrf" value="<%= csrf_token %>">

			<div class="form-group">
				<label for="templateId">Select checkin type</label>
				<select class="js-select2" id="id" name="id">
					<% for(var i = 0; i < checkinTemplates.length; i++) { %>
						<option value="<%= checkinTemplates[i].id %>">
							<%= checkinTemplates[i].title %>
						</option>
					<% } %>
				</select>
			</div>

			<button type="submit" class="btn btn-primary btn-block">
				Check-in
			</button>
		</form>
	</div>

</div>
