<% layout('../layouts/default') -%>

<div class="container">

	<div class="row">

		<div class="col-sm-3 settings-nav" id="sidebar" role="navigation">
			<div class="list-group">
				<a href="/settings/profile" class="list-group-item">
					<h4 class="list-group-item-heading">
						<%= user.name %>
						<small class="list-group-item-text">
							<% if(user.permissions.provider) { %>
								Provider
							<% } else {%>
								Patient
							<% } %>
						</small>
					</h4>
				</a>
				<a href="/settings/profile" class="list-group-item <%= activePage == '/settings/profile' && 'active' %>">Profile</a>
				<a href="/settings/providers" class="list-group-item <%= activePage == '/settings/providers' && 'active' %>">Providers</a>
				<a href="/settings/following" class="list-group-item <%= activePage == '/settings/following' && 'active' %>">Following</a>
			</div>
		</div>

		<div class="col-sm-9">
			<%- body -%>
		</div>

	</div>

</div>
